<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.sogal">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="SmartChip"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainStartupActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ReadNfcTag"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.ShopActivity" />
        <activity android:name=".ui.AddNewUserChip" />
        <activity android:name=".ui.ManageUserChips" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.ManageUserAccountActivity" />
        <activity android:name=".OnlyAppUserAction.CallToPhone" />
        <activity android:name=".OnlyAppUserAction.SendTextMessage" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.ContactUsActivity" />
        <activity android:name=".ui.WriteNfcTag">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".MoreInfoForAction.CallToPhoneInfo"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".MoreInfoForAction.SendTextMessageInfo"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".MoreInfoForAction.URLInfo"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".ui.ResetPasswordActivity" />
        <activity android:name=".ui.ForgetPasswordActivity" />
        <activity android:name=".ui.EditChip"></activity>
        <activity android:name=".OnlyAppUserAction.URLForwording"/>
        <activity android:name=".MoreInfoForAction.TimerInfo"/>
        <activity android:name=".OnlyAppUserAction.VibrateMode">
        <!--<intent-filter>-->
            <!--&lt;!&ndash;<action android:name="android.intent.action.SET_TIMER" />&ndash;&gt;-->
            <!--&lt;!&ndash;<category android:name="android.intent.category.DEFAULT" />&ndash;&gt;-->
        <!--</intent-filter>-->
        </activity>
        <activity android:name=".MoreInfoForAction.NFCAlarmClockInfo"/>
        <activity android:name=".OnlyAppUserAction.NFCAlarmClock"/>
    </application>

</manifest>